body
{
    background-color: #15171D;
}


img
{
    width:50%;
    height: 100%;
    

}

.carusel
{
    display: flex;
    background-color: #482884;
    height:25%;
    padding-left:5%;
    padding-right: auto;
    padding-bottom: 20px;
}

