body
{
    background-color: #15171D;
}


img
{
    width:80%;
    height: 250px;
    transition: 500ms;

}

img:hover
{
    transform: scale(0.8);
    transition-duration: 500ms;
}

.carusel
{
    display: flex;
    background-color: #482884;
    height:250px;
    padding-left:1%;
    padding-right: auto;
    padding-bottom: 20px;
}

.most
{
    display: flex;
    height:25%;
    padding-left:1%;
    padding-right: auto;
    padding-bottom: 20px;
    background-color:"#10091D"
}

.mostViewed img
{
   padding-left: 1%;
   padding-right:1%;
   width: auto;
}

