.movieList
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 8vh;
    width: 90%;
    height: 45%;
}

.movieList img
{
    width: calc(1rem + 10vw + 15vh);
    height: calc(1rem + 15vw + 15vh);
    box-shadow: 10px 10px 20px;
}

