.movieList
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 8vh;
    width: 90%;
    height: 45%;
}

.movieList img
{
    width: 20%;
    height: 100%;
    box-shadow: 10px 10px 20px;
}

.email
{
    background-color: #F9F871;
    border-color: #F9F871;
    color: #F9F871;
    width: 70%;
    margin-top: 40px;
}

@media only screen and (max-width: 900px) 
{
    .movieList img
    {
        width: 20%;
        height: 50%;
    } 
}

@media only screen and (max-width: 500px) 
{
    .movieList img
    {
        width: 20%;
        height: 40%;
    } 
}
