.mainBox
{
    width: 30%;
}

@media only screen and (max-width: 1000px) 
{
    .mainBox
    {
        width: 60%;
    }    
}

.ball
{
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #F9F871;
}